:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}
body { 
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #242424;
    border-bottom: 1px solid sandybrown;
}

/* navigation */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}



.logo a{
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    color: rgba(239, 129, 35);
}

.logo a:hover{
    filter: drop-shadow(0 0 2em #646cffaa);
}


.nav-menu{
    display: flex;
    gap: 40px;
}
.nav-menu a{
    font-weight: 500;
    color: rgba(239, 239, 238);
    text-decoration: none;
}

.nav-menu a:hover {
    color: rgba(239, 129, 35)
}

.nav-btn{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:rgba(239, 129, 35);
    color: rgba(239, 239, 238);
}


/* BEGIN: Temitope Akinlade */
.trending-nfts-section *{
    margin: 0;
    padding: 0;
}
.trending-nfts-section .section-title{
    font-size: 2rem;
}
.trending-nfts-section .section-label{
    color: #ee7a25;
    font-weight: 700;
    font-size: 20px;
}
.trending-nfts-section .straight-line{
    color:#ee7a25;
    font-size: 20px;
}
.trending-nfts-section .section-header-with-filters{
    display:flex;
    justify-content: space-between;
}
.trending-nfts-section{
    margin: auto;
}
.filter-tabs{
    display: flex;
    list-style-type: none;
    gap:20px;
    align-items: center;
}
.filter-tab{
    border: 0.5px solid rgba(238, 122, 37, 0.2);
    font-size: 0.9rem;
    padding: 7px 15px; 
    border-radius: 5px;
}
.trending-nfts-section .nft-card{
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 5px; 
    position: relative;
    width: 24%;
    height: auto;
}
.trending-nfts-section .nft-image-placeholder{
    display:flex;
    width: 100px;
}
.trending-nfts-section .nft-img-1-a{
    position:relative;
    z-index: 3;
}
.trending-nfts-section .nft-img-1-b{
    position:relative;
    right:3px;
    z-index: 2;
}
.trending-nfts-section .nft-img-1-c{
    position:relative;
    z-index: 1;
    right:6px;
}
.trending-nfts-section .nft-img-1-d{
    position:relative;
    right:9px;
}
.trending-nfts-section .nft-cards-grid .nft-card .nft-card-image .nft-image-placeholder p{
    margin-left: -5px;
    color:rgb(180, 176, 176);
}
.trending-nfts-section .gray-text{
    color:rgb(180, 176, 176);
}
.trending-nfts-section .nft-owner-name{
    display:flex;
    align-items: center;
    gap:10px;
}
.trending-nfts-section .white-text{
    font-size: 0.9rem;
    color:white;  
}
.trending-nfts-section .nft-card-image{
    display:flex;
    justify-content: space-between;
}
.trending-nfts-section .nft-image-placeholder img{
    width: 20%;
    height: auto;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit:cover;
    border: 0.5px solid yellow;
}
.trending-nfts-section .creator-avatar-1{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    height: auto;
}
.trending-nfts-section .heart-icon{
    position: absolute;
    top:70px;
    right: 25px;
    padding: 5px;
    border-radius: 7px;
    background-color: #2c2a2a;
}
.trending-nfts-section .nft-quantity{
    font-size: 1.2rem;
    font-weight: 800;
    color: #ee7a25;
}
.trending-nfts-section .nft-price{
    font-size: 0.7rem;
    color: #ee7a25;
}
.trending-nfts-section .nft-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.trending-nfts-section .nft-bid{
    font-size: 1.1rem;
    font-weight: 500;
    width: 110px;
}
.trending-nfts-section .hour-mins-time h3{
    font-size: 0.9rem;
}
.trending-nfts-section .hour-mins-time{
    display:flex;
    gap:15px;
    text-align: center;
}
.trending-nfts-section .nft-info{
    width: 170px;
}
.trending-nfts-section .nft-auction-end-date p{
    font-size: 0.8rem;
    text-align: center;
}
.trending-nfts-section .nft-price-info{
    margin-top: 10px;
}
.trending-nfts-section .right-arrow{
    color:white;
    font-size: 20px;
    position: absolute;
    top:9px;
    left:179px;
}
.trending-nfts-section .btn-transparent{
    background: transparent;
    border: 0.5px solid rgba(238, 122, 37, 0.2);
    color: #ee7a25;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 3px;
    position: relative;
}
.trending-nfts-section .btn-transparent:hover{
    background-color:#ee7a25;
    color:white;
    cursor: pointer;
}
.trending-nfts-section .btn-secondary{
    border: 1px solid #ee7a25;
    padding: 15px 30px;
    margin-top: 40px;
    background: transparent;
    margin-left: 45%;
    border-radius: 3px;
    font-weight: 600;
    color: #ee7a25;
}
.trending-nfts-section .btn-secondary:hover{
    background-color:#ee7a25;
    color:white;
    cursor: pointer;
}
.trending-nfts-section .nft-cards-grid > :first-child{
    border: 1px solid rgba(238, 122, 37,0.7);
}
.trending-nfts-section .nft-cards-grid{
    display: flex;
    gap: 15px;
    width: 100%;
    margin: auto;
}
.trending-nfts-section{
    margin-top: 120px;
    margin-bottom: 120px;
    width: 1320px;
}
/* END: Temitope Akinlade */

.hero-content {
    display: flex;
    gap: 30px;
}
.hero-text {
    font-size: 3.2em;
    line-height: 1.1;
}

.hero-title-highlight {
    color: linear-gradient(to right, rgba(239, 125, 37), rgba(233, 91, 43) );
}

.hero-description {
    font-size: 25px;
}

.btn_hero {
    padding: 10px 20px 10px 20px;
    color: rgba(239, 125, 37);
    border-image: linear-gradient(to right, rgba(239, 125, 37), rgba(233, 91, 43) );
    border-radius: 5px;
}

.btn_hero:hover {
    background-image: linear-gradient(to right, rgba(239, 125, 37), rgba(233, 91, 43) );
    color: #ffffff;
}

/* =================== HERO SECTION  END ============================== */




/* STEPS SECTION */

.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
}

.section-header-center {
    display: flex;
    flex-direction: column;
}

.steps-container .section-label {
    color: orange;
}

.steps-container .section-header-center span {
    font-size: 1.4rem;
}

.steps-container .section-header-center h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
}

.steps-grid {
    display: flex;
    gap: 20px;
}

.step-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 340px;
    background-color: #131316;
    opacity: 0.8;
    border-radius: 5px;
}

.step-card h3 {
    font-size: 1.3rem;
    color: white;
    margin: 10px 0px;
}

.step-description {
    line-height: 20px;
}

.step-card .step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32323d;
    padding: 5px;
    width: 90px;
    border-radius: 5px;
}



/* BEGIN: John Dakshak */
/* WALLETS SECTION */

.wallets-section {
    padding: 0px 6vw;
}

.wallets-section .container {
    margin: 40px 40px;
}

.wallets-section .section-header div {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #ec7a08;
    font-family: Arial, Helvetica, sans-serif;
}

.wallets-section .section-header h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.wallets-section .wallets-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
}

.wallets-grid .wallet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111112;
    border-radius: 5px;
    padding: 0px 20px;
    padding-bottom: 20px;
    border: 1px solid transparent;
}

.wallets-grid .wallet-card:hover {
    cursor: pointer;
    border:1px solid #351d04;
    background-color: #0c0600;
} 

.wallets-grid .wallet-card p {
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e9;
    font-weight: 600;
}

.wallets-grid .wallet-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallets-grid .wallet-icon img {
    max-width: 100%;
    max-height: 100%;
}

.wallets-grid .wallet-icon-trust img {
    width: 50px;
}

.wallets-grid .wallet-icon-enjin img {
    width: 50px;
}

.wallets-grid .wallet-icon-binance img {
    width: 50px;
}

.wallets-grid .wallet-icon-coinbase img {
    width: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* END - John Dakshak */


