:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex; 
    place-items: center; 
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
/* BEGIN: Temitope Akinlade */
.trending-nfts-section *{
    margin: 0;
    padding: 0;
}
.trending-nfts-section .section-title{
    font-size: 2rem;
}
.trending-nfts-section .section-label{
    color: #ee7a25;
    font-weight: 700;
    font-size: 20px;
}
.trending-nfts-section .straight-line{
    color:#ee7a25;
    font-size: 20px;
}
.trending-nfts-section .section-header-with-filters{
    display:flex;
    justify-content: space-between; 
}
.trending-nfts-section{
    margin: auto;
}
.filter-tabs{
    display: flex;
    list-style-type: none;
    gap:20px;
    align-items: center;
}
.filter-tab{
    border: 0.5px solid rgba(238, 122, 37, 0.2);
    font-size: 0.9rem;
    padding: 7px 15px; 
    border-radius: 5px;
}
.trending-nfts-section .nft-card{
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 5px; 
    position: relative;
}
.trending-nfts-section .nft-image-placeholder{
    display:flex;
    width: 100px;
}
.trending-nfts-section .nft-img-1-a{
    position:relative;
    z-index: 3;
}
.trending-nfts-section .nft-img-1-b{
    position:relative;
    right:3px;
    z-index: 2;
}
.trending-nfts-section .nft-img-1-c{
    position:relative;
    z-index: 1;
    right:6px;
}
.trending-nfts-section .nft-img-1-d{
    position:relative;
    right:9px;
}
.trending-nfts-section .nft-cards-grid .nft-card .nft-card-image .nft-image-placeholder p{
    margin-left: -5px;
    color:rgb(180, 176, 176);
}
.trending-nfts-section .gray-text{
    color:rgb(180, 176, 176);
}
.trending-nfts-section .nft-owner-name{
    display:flex;
    align-items: center;
    gap:10px;
}
.trending-nfts-section .white-text{
    font-size: 0.9rem;
    color:white;  
}
.trending-nfts-section .nft-card-image{
    display:flex;
    justify-content: space-between;
}
.trending-nfts-section .nft-image-placeholder img{
    width: 20%;
    height: auto;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit:cover;
    border: 0.5px solid yellow;
}
.trending-nfts-section .creator-avatar-1{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    height: auto;
}
.trending-nfts-section .heart-icon{
    position: absolute;
    top:70px;
    right: 25px;
    padding: 5px;
    border-radius: 7px;
    background-color: #2c2a2a;
}
.trending-nfts-section .nft-quantity{
    font-size: 1.2rem;
    font-weight: 800;
    color: #ee7a25;
}
.trending-nfts-section .nft-price{
    font-size: 0.7rem;
    color: #ee7a25;
}
.trending-nfts-section .nft-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.trending-nfts-section .nft-bid{
    font-size: 1.1rem;
    font-weight: 500;
    width: 110px;
}
.trending-nfts-section .hour-mins-time h3{
    font-size: 0.9rem;
}
.trending-nfts-section .hour-mins-time{
    display:flex;
    gap:15px;
    text-align: center;
}
.trending-nfts-section .nft-info{
    width: 170px;
}
.trending-nfts-section .nft-auction-end-date p{
    font-size: 0.8rem;
    text-align: center;
}
.trending-nfts-section .nft-price-info{
    margin-top: 10px;
}
.trending-nfts-section .right-arrow{
    color:white;
    font-size: 20px;
    position: absolute;
    top:9px;
    left:179px;
}
.trending-nfts-section .btn-primary{
    width: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 3px;
    background-color:#ee7a25;
    position: relative;
}
.trending-nfts-section .btn-transparent{
    background: transparent;
    border: 0.5px solid rgba(238, 122, 37, 0.2);
    color: #ee7a25;
}
.trending-nfts-section .btn-secondary{
    border: 1px solid #ee7a25;
    padding: 15px 30px;
    margin-top: 40px;
    background: transparent;
    margin-left: 45%;
    border-radius: 3px;
    font-weight: 600;
    color: #ee7a25;
}
.trending-nfts-section .nft-cards-grid > :first-child{
    border: 1px solid rgba(238, 122, 37,0.7);
}
.trending-nfts-section .nft-cards-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 40px;
}
.trending-nfts-section{
    margin-top: 120px;
    margin-bottom: 120px;
    border: 1px solid red;
   
}
/* END: Temitope Akinlade */